#header{
    background: #2196F3;
}

.menu{
    display: flex;
    height: 64px;
}

.menu_item{
    display: flex;
    align-items: center;
}

.active{
    background: #1E88E5;
}

.menu_item a{
    font-size: 14px;
    color: #ffffff;
    padding: 0 15px;
}

.list{
    margin: 53px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 225px);
    justify-content: space-evenly;
    gap: 48px;
}

.list_item{
    position: relative;
    padding: 15px;
    transition: all 0.4s ease-in-out;
}

.list_item:hover{
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.cats{
    width: 195px;
    height: 195px;
    display: flex;
}

.cats img{
    max-width: 195px;
    max-height: 195px;
    margin: auto;
}

.likes{
    display: none;
    position: absolute;
    right: 33px;
    bottom: 24px;
    cursor: pointer;
}

.list_item:hover .likes{
    display: flex;
}

.likes:hover img{
    background: #ffffff;
}
